**/node_modules
**/build
lerna-debug.log
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.serverless
web-build/
**/coverage
**/package-lock.json
**/yarn-error.log

# macOS
.DS_Store
storybook-static

# misc
.idea
